// 顏色
$primary: #0f80ee;
$light-primary: #3b8edf;
$background: #eeeff4;
$light-gray: #909090;
$gray: #606060;
$dark: #202020;
$line: #dedede;


// 長寬
$menu-bar__width: 260px;
$menu-bar__width-active: 80px;